h1, h2, h3 {
  color: var(--white);
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -1px;
}

h1 {
  color: var(--gray-colors-100);
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 24px;
}

.btn-primary, .menu-item {
  display: inline-block;
  font-family: 'Sora', sans-serif;
  letter-spacing: -0.01em;
}

.btn-primary {
  background-color: var(--brand-colors-pink);
  color: var(--gray-colors-100);
  font-weight: 600;
  padding: 1.2rem 3.4rem;
  cursor: pointer;
  transition: transform .3s;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.menu-item {
  background-color: var(--gray-colors-50);
  color: var(--gray-colors-400);
  font-size: 1.5rem;
  line-height: 105%;
  padding: 1.2rem 2.4rem;
  transition: all .3s;
}

.menu-item:hover {
  background-color: #acb5bf;
  color: var(--white);
}